{% load mytags %}
<div class="slidebar-wrapper">
    <div class="sideslider">
        <h3 class="title"><span class="vm">设备属性</span></h3>
        <div class="sideslider-content">
            <div class="bk-tab2" style="border: none;">
                <div class="alert alert-danger text-center  bk-tab2-head " id="edit-error" style="display: none;"></div>
                <div class="bk-tab2-head">
                    <ul class="bk-tab2-nav">
                        <li class="tab2-nav-item  actived" id="base"> 设备属性</li>
                        <li class="tab2-nav-item " id="related"> 关联信息</li>
                        <li class="tab2-nav-item " id="alarm"> 告警信息</li>
                        <li class="tab2-nav-item " id="record"> 变更记录</li>
                    </ul>
                </div>
                <div class="bk-tab2-content">
                    <section class="related-list attr-list active">
                        <div class="attribute-wrapper">
                            <div class="attribute-group">
                                <h3 class="title">基础属性</h3>
                                <ul class="clearfix attribute-list">
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">资产编号 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.label_cn }}>{{ object.label_cn|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">所属区域 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.related_zone_id_id }}>{{ object.related_zone_id_id|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">所属信息系统 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.related_itsystem_id_id }}>{{ object.related_itsystem_id_id|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">所属机房 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.related_room_id_id }}>{{ object.related_room_id_id|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">IP地址 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.ipaddr }}>{{ object.ipaddr|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">操作系统类型 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.system }}>{{ object.system|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">管理IP :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.management_ip }}>{{ object.management_ip|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">资产类型 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.assets_type }}>{{ object.assets_type|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">所属物理机IP :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.related_host_ip }}>{{ object.related_host_ip|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">状态 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.status }}>{{ object.status|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">用途 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.use_for }}>{{ object.use_for|default_if_none:"" }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute-group">
                                <h3 class="title">配置属性</h3>
                                <ul class="clearfix attribute-list">
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">主机名称 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.hostname }}>{{ object.hostname|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">MAC地址 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.mac }}>{{ object.mac|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">CPU型号 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.cpu }}>{{ object.cpu|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">CPU核数 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.cpu_core }}>{{ object.cpu_core|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">内存总量 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.ram_total }}>{{ object.ram_total|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">硬盘总量 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.disk_total }}>{{ object.disk_total|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">操作系统版本 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.system_version }}>{{ object.system_version|default_if_none:"" }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute-group attr_more" style="display: none">
                                <h3 class="title">资产属性</h3>
                                <ul class="clearfix attribute-list">
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">设备序列号 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.sn }}>{{ object.sn|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">资产型号 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.model }}>{{ object.model|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">供货商 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.provider }}>{{ object.provider|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">购买人 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.buy_user }}>{{ object.buy_user|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">制造商 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.manufacturer }}>{{ object.manufacturer|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">购买时间 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.buy_time }}>{{ object.buy_time| date:"Y-m-d H:i:s" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">过保日期 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.expire_date }}>{{ object.expire_date| date:"Y-m-d H:i:s" }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute-group attr_more" style="display: none">
                                <h3 class="title ">维护属性</h3>
                                <ul class="clearfix attribute-list">
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">创建时间 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.create_time }}>{{ object.create_time| date:"Y-m-d H:i:s" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">最后修改时间 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.last_modify_time }}>{{ object.last_modify_time| date:"Y-m-d H:i:s" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">系统维护人 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.system_admin }}>{{ object.system_admin|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">备份维护人 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.backup_admin }}>{{ object.backup_admin|default_if_none:"" }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">agent状态 :</span>
                                        <span class="attribute-item-value"
                                              title={{ object.agent_status }}>{{ object.agent_status|default_if_none:"" }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute-group-more">
                                <a class="group-more-link" href="#">
                                    更多属性
                                    <i class="fa fa-angle-double-up fa-lg"></i>
                                </a>
                            </div>
                            <div class="attribute-btn-group">
                                <button class="bk-button bk-button main-btn bk-primary attr-edit">
                                    <span>属性编辑</span>
                                </button>

                            </div>
                        </div>
                    </section>
                    <section class="related-list bk-tab2-pane">
                        <div class="attribute-wrapper">

                        </div>
                    </section>
                    <section class="related-list bk-tab2-pane">
                        <div class="attribute-wrapper">

                        </div>
                    </section>
                    <section class="related-list bk-tab2-pane">
                        <div class="attribute-wrapper">

                        </div>
                    </section>
                    <section class="edit-list bk-tab2-pane">
                        <div class="attribute-wrapper">
                            <from class="edit-form">
                                <div class="attribute-group">
                                    <ul class="clearfix attribute-list edit">
                                        <h3 class="title">基础属性</h3>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>所属网络区域</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="related_zone_id">
                                                <select class="bk-form-select">
                                                    {% for name in zone_label_list %}
                                                        {% ifequal name object.related_zone_id_id %}
                                                            <option selected="selected">{{ object.related_zone_id_id|default_if_none:"" }}</option>
                                                        {% else %}
                                                            <option>{{ name }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>所属信息系统</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="related_itsystem_id">
                                                <select class="bk-form-select">
                                                    {% for name in itsystem_label_list %}
                                                        {% ifequal name object.related_itsystem_id_id %}
                                                            <option selected="selected">{{ object.related_itsystem_id_id|default_if_none:"" }}</option>
                                                        {% else %}
                                                            <option>{{ name }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                    <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>所属机房</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="related_room_id">
                                                <select class="bk-form-select">
                                                    {% for name in room_label_list %}
                                                        {% ifequal name object.related_room_id_id %}
                                                            <option selected="selected">{{ object.related_room_id_id|default_if_none:"" }}</option>
                                                        {% else %}
                                                            <option>{{ name }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                    <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>IP地址</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="ipaddr">
                                                <input type="text" class="bk-form-input ip-input"
                                                       value="{{ object.ipaddr|default_if_none:"" }}">
                                            </div>
                                        </li>
                                    <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>操作系统类型</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="system">
                                                <select class="bk-form-select">
                                                    {% for name in sysdevice_system_enum_list %}
                                                        {% ifequal name object.system %}
                                                            <option selected="selected">{{ object.system|default_if_none:"" }}</option>
                                                        {% else %}
                                                            <option>{{ name }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                    <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>管理IP</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="management_ip">
                                                <input type="text" class="bk-form-input ip-input"
                                                       value="{{ object.management_ip|default_if_none:"" }}">
                                            </div>
                                        </li>
                                    <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>资产类型</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="assets_type">
                                                <select class="bk-form-select">
                                                    {% for name in sysdevice_assets_type_enum_list %}
                                                        {% ifequal name object.assets_type %}
                                                            <option selected="selected">{{ object.assets_type|default_if_none:"" }}</option>
                                                        {% else %}
                                                            <option>{{ name }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                    <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>所属物理机IP</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="related_host_ip">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.related_host_ip|default_if_none:"" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>状态</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="status">
                                                <select class="bk-form-select">
                                                    {% for name in sysdevice_status_enum_list %}
                                                        {% ifequal name object.status %}
                                                            <option selected="selected">{{ object.status|default_if_none:"" }}</option>
                                                        {% else %}
                                                            <option>{{ name }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>用途</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="use_for">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.use_for|default_if_none:"" }}">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="attribute-group">
                                    <ul class="clearfix attribute-list edit">
                                        <h3 class="title">资产属性</h3>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>购买人</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="buy_user">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.buy_user|default_if_none:"" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>购买时间</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="buy_time">
                                                <input type="text" class="bk-form-input datetimepicker"
                                                       value="{{ object.buy_time| date:"Y-m-d H:i:s" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>供货商</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="provider">
                                                <input type="text" class="bk-form-input "
                                                       value="{{ object.provider|default_if_none:"" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>过保日期</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="expire_date">
                                                <input type="text" class="bk-form-input  datetimepicker"
                                                       value="{{ object.expire_date| date:"Y-m-d H:i:s" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>制造商</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="manufacturer">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.manufacturer|default_if_none:"" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>资产型号</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="model">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.model|default_if_none:"" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>设备序列号</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="sn">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.sn |default_if_none:"" }}">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            <div class="attribute-group">
                                    <ul class="clearfix attribute-list edit">
                                        <h3 class="title">资产属性</h3>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>系统维护人</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="system_admin">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.system_admin|default_if_none:"" }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>备份维护人</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field" title="backup_admin">
                                                <input type="text" class="bk-form-input"
                                                       value="{{ object.backup_admin|default_if_none:"" }}">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="attribute-btn-group">
                                    <button class="bk-button main-btn bk-primary form-save" value="{{ object.id }}">
                                        <span>保存</span>
                                    </button>
                                    <button class="bk-button vice-btn bk-default form-cancel">
                                        <span>取消</span>
                                    </button>
                                </div>
                            </from>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
