.modal-header {
    background: #374152;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
}

.filter {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 17px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    font-size: 14px;
    color: #666;
}

.panel-heading {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-transform: uppercase;
    color: #535351;
    font-size: 14px;
    font-weight: bold;
}

.panel-content {
    position: relative;
    padding: 30px 70px 26px;
}

.condition-item {
    margin-right: 5%;
    margin-bottom: 1%;
}

.pull-left {
    float: left !important;
    width: 100%;
}

.main-list {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 30px;
    font-family: "Microsoft YaHei";
    /*font-weight: bold;*/
    font-size: 14px;
    color: #666;
}

#error-info {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
}


.slidebar-wrapper
{
    position: fixed;
    top: 50px;
    /*left: 50px;*/
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.sideslider {
    position: absolute;
    top: 1px;
    bottom: 0;
    right: 0;
    width: 55%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;

    -webkit-box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.2);
    transform: translateX(0);
}

.sideslider>.title {
    position: relative;
    padding-left: 20px;
    line-height: 60px;
    color: #333948;
    font-size: 14px;
    height: 60px;
    font-weight: 700;
    margin: 0;
    background: #f9f9f9;
}
.sideslider-content{
    height: calc(100% - 132px);
    padding: 0px 20px;
    font-size: 14px;
}
.bk-tab2 {
    border: 1px solid #c3cdd7;
    border-radius: 2px;
    background: #fff;
    height: 100%;
}

.bk-tab2 .bk-tab2-content .bk-tab2-pane {
    display: none;
    opacity: 0;
}

.bk-tab2 .bk-tab2-head {
    position: relative;
    border-bottom: 1px solid #c3cdd7;
    height: 58px;
}
.bk-tab2 .bk-tab2-head .bk-tab2-nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.bk-tab2 .bk-tab2-head .bk-tab2-nav>li.actived {
    color: #3c96ff;
    border-bottom:solid 3px #3c96ff
}

.bk-tab2 .bk-tab2-head .bk-tab2-nav>li {
    position: relative;
    float: left;
    height: 57px;
    line-height: 57px;
    padding: 0 25px;
    color: #737987;
    font-size: 13px;
    cursor: pointer;
    transition: background-color .3s ease,color .3s ease;

}
.bk-tab2 .bk-tab2-head .bk-tab2-nav>li:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 0;

    transition: all .3s ease;
}

body .bk-tab2-content, html .bk-tab2-content {
    height: calc(100% - 58px);
    overflow: auto;
}
.attribute-wrapper{
    padding: 0 0 0 16px;
    overflow: visible;
}
.attribute-group{
    padding: 28px 0 0;
}

.attribute-group .title {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    overflow: visible;
    color: #333948;
    font-weight:bold;
}

.attribute-list {
    padding: 4px 0;
}

.clearfix {
    display: inline-block;
    display: block;
    zoom: 1;
}

.attribute-list .attribute-item {
    width: 50%;
    font-size: 12px;
    line-height: 20px;
    margin: 11px 0 0;
    white-space: nowrap;
    list-style-type:none;
    float: left;
}

.attribute-list .attribute-item .attribute-item-label {
    width: 40%;
    color: #6b7baa;
    text-align: right;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
.attribute-list .attribute-item .attribute-item-value{
    max-width: 55%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4d597d;
}

menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.attribute-btn-group {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 62px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 14px 20px;
}

.attribute-btn-group button {
    width: 110px;
    height: 34px;
    line-height: 32px;
    margin-right: 6px;
}

.bk-button.bk-primary {
    background: #3c96ff;
    border-color: #3c96ff;
    color: #fff;
}

body .main-btn, html .main-btn {
    background: #3c96ff;
    color: #fff;
    cursor: pointer;
    border: 1px solid #3c96ff;
    outline: none;
    border-radius: 2px;
}

.bk-button {
    height: 36px;
    line-height: 34px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    padding: 0 19px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    background: #fff;
    border: 1px solid #c3cdd7;
    border-radius: 2px;
    box-sizing: border-box;
    color: #737987;
    text-decoration: none;
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
}

.attribute-group-more .group-more-link {
    color: #6b7baa;
    text-decoration: none;
    font-size: 13px;
}
.attribute-group-more .group-more-link  i{
    margin-left: 6px;
}

.attribute-group-more{
    text-align: center;
    margin-top: 50px;
}

.fl {
    float: left!important;
}

.attribute-list.edit .attribute-item label{
    display: inline-block;
    vertical-align: middle;
    margin: 13px 0 9px;
    padding: 0;
    color: #737987;
    line-height: 12px;
    font-size: 12px;
    overflow: visible;
}


.bk-form-input, .bk-form-password, .bk-form-select, .bk-form-textarea {
    -webkit-box-sizing: border-box;
    height: 36px;
    line-height: 1;
    color: #666;
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c3cdd7;
    padding: 0 10px;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    outline: none;
    resize: none;
    transition: border .2s linear;
}

.attribute-list.edit .attribute-item .attribute-item-field {
    width: 90%;
    white-space: normal;
    position: relative;
}

.attribute-btn-group button {
    width: 110px;
    height: 34px;
    line-height: 32px;
    margin-right: 6px;
}

body .vice-btn, html .vice-btn {
    border: 1px solid #c3cdd7;
    color: #737987;
    background: #fff!important;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}


body .main-btn, html .main-btn {
    background: #3c96ff;
    color: #fff;
    cursor: pointer;
    border: 1px solid #3c96ff;
    outline: none;
    border-radius: 2px;
}

.attribute-btn-group {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 62px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 14px 20px;
}
.select2-container {
    width: 183px;
    margin-top: -2px;
}

.input-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 2px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

 .pagination  li  .page-active{
    background-color: #65CEA7;
}

.error-ip-input{
        border: 1px solid #f9090c;
}

.filter-more {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fafafa;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}

.list-icon {
    padding: 0 10px 0 12px;
    cursor:pointer;
    color: #bdc3c7;
    top: 10px;
    font-size: 14px;
    background: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

li, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.relevance-box{
    height: 100%;
}

.tree-wrapper.list{
    border: 1px solid #bec6de;
    border-bottom: 0;
    line-height: 1.5em;
}

.tree-wrapper.list .tree-item-wrapper{
    color: #6b7baa;
    padding: 0;
    font-size: 12px;
    position: relative;
}

.tree-wrapper.list .root .item {
    height: 36px;
    line-height: 36px;
    paddint-top: 15px;
}

.tree-item-wrapper .item {
    z-index: 2;
    position: relative;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
    font-size: 0;
    border-bottom: 1px solid #bec6de;
}

.tree-item-wrapper .item .item-name{
    font-size: 12px;
    padding: 0 0 0 25px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 4px solid transparent;
    border-right-width: 25px;
    border-left-width: 0;
    margin-top: -4px;
}

.tree-wrapper.list .root .item .item-name .count {
    float: right;
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: 11px;
    margin-left: 10px;
    color: #ffb80f;
    background: #fff7e5;
    border-radius: 7px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    padding: 0 14px;
}