.modal-header {
    background: #374152;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
}
.panel-content .condition-left {
    width: calc(100% - 215px);

}.clearfix {
    display: block;
    zoom: 1;
}

