{% load mytags %}
<div class="slidebar-wrapper">
    <div class="sideslider">
        <h3 class="title"><span class="vm">设备属性</span></h3>
        <div class="sideslider-content">
            <div class="bk-tab2" style="border: none;">
                <div class="alert alert-danger text-center  bk-tab2-head " id="edit-error" style="display: none;"></div>
                <div class="bk-tab2-head">
                    <ul class="bk-tab2-nav">
                        <li class="tab2-nav-item actived"> 设备属性</li>
                        <li class="tab2-nav-item "> 关联信息</li>
                        <li class="tab2-nav-item "> 告警信息</li>
                        <li class="tab2-nav-item "> 变更记录</li>
                    </ul>
                </div>
                <div class="bk-tab2-content">
                    <section class="attr-list active">
                        <div class="attribute-wrapper">
                            <div class="attribute-group">
                                <h3 class="title">基础属性</h3>
                                <ul class="clearfix attribute-list">
                                    <li class="attribute-item hidden">
                                        <span class="attribute-item-label">ID :</span>
                                        <span class="attribute-item-value" title="id" id="object_id"></span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">主机名称 :</span>
                                        <span class="attribute-item-value" title="hostname">{{ object.hostname }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">IP地址 :</span>
                                        <span class="attribute-item-value" title="ip">{{ object.ip }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">资产类型 :</span>
                                        <span class="attribute-item-value" title="assets_type">{{ object.assets_type }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">状态 :</span>
                                        <span class="attribute-item-value" title="status">{{ object.status }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">管理IP :</span>
                                        <span class="attribute-item-value" title="management_ip">{{ object.management_ip }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">用途 :</span>
                                        <span class="attribute-item-value" title="use_for">{{ object.use_for}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute-group">
                                <h3 class="title">维护信息</h3>
                                <ul class="clearfix attribute-list">
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">所属区域 :</span>
                                        <span class="attribute-item-value" title="zone">{{ object.zone }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">所属信息系统 :</span>
                                        <span class="attribute-item-value" title="itsystem">{{ object.itsystem }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">创建时间 :</span>
                                        <span class="attribute-item-value" title="create_time">{{ object.create_time| date:"Y:m:d " }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">最后修改时间 :</span>
                                        <span class="attribute-item-value" title="last_modify_time">{{ object.last_modify_time| date:"Y:m:d " }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute-group" id="attr_more" style="display: none">
                                <h3 class="title">配置属性</h3>
                                <ul class="clearfix attribute-list">
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">资产编号 :</span>
                                        <span class="attribute-item-value" title="label_cn">{{ object.label_cn }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">设备序列号 :</span>
                                        <span class="attribute-item-value" title="sn">{{ object.sn }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">资产型号 :</span>
                                        <span class="attribute-item-value" title="model">{{ object.model }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">供货商 :</span>
                                        <span class="attribute-item-value" title="provider">{{ object.provider}}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">购买时间 :</span>
                                        <span class="attribute-item-value" title="buy_time">{{ object.buy_time| date:"Y:m:d " }}</span>
                                    </li>
                                    <li class="attribute-item ">
                                        <span class="attribute-item-label">过保修日期 :</span>
                                        <span class="attribute-item-value" title="expire_date">{{ object.expire_date| date:"Y:m:d " }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute-group" id="attr_more" style="display: none">
                                <h3 class="title ">更多属性</h3>
                                <ul class="clearfix attribute-list">
                                </ul>
                            </div>
                            <div class="attribute-group-more">
                                <a class="group-more-link" href="#">
                                    更多属性
                                    <i class="fa fa-angle-double-up fa-lg"></i>
                                </a>
                            </div>
                            <div class="attribute-btn-group">
                                <button class="bk-button bk-button main-btn bk-primary attr-edit">
                                    <span>属性编辑</span>
                                </button>

                            </div>
                        </div>
                    </section>
                    <section class="related-list bk-tab2-pane">
                        <div class="attribute-wrapper">

                        </div>
                    </section>
                    <section class="related-list bk-tab2-pane">
                        <div class="attribute-wrapper">

                        </div>
                    </section>
                    <section class="related-list bk-tab2-pane">
                        <div class="attribute-wrapper">

                        </div>
                    </section>
                    <section class="edit-list bk-tab2-pane">
                        <div class="attribute-wrapper">
                            <from class="edit-form">
                                <div class="attribute-group">
                                    <ul class="clearfix attribute-list edit">
                                        <h3 class="title">基础属性</h3>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>所属网络区域</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="zone" value="{{ object.zone }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>信息系统名称</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="label_cn" value="{{ object.label_cn }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>用途</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="use_for" value="{{ object.use_for }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small" >
                                                    <span>架构描述</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="system_framework" value="{{ object.system_framework }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>使用人员</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="user_of_service" value="{{ object.user_of_service }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>普通人员使用</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="is_untrained_person_use" value="{{ object.is_untrained_person_use}}">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="attribute-group">
                                    <ul class="clearfix attribute-list edit">
                                        <h3 class="title">维护属性</h3>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>系统管理员</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="system_manager" value="{{ object.system_manager }}">
                                            </div>
                                        </li>
                                        <li class="attribute-item fl">
                                            <div>
                                                <label class="bk-form-checkbox bk-checkbox-small">
                                                    <span>系统负责人</span>
                                                </label>
                                            </div>
                                            <div class="attribute-item-field">
                                                <input type="text" class="bk-form-input" title="system_admin" value="{{ object.system_admin }}">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="attribute-btn-group">
                                    <button class="bk-button main-btn bk-primary form-save" value="{{ object.id}}">
                                        <span>保存</span>
                                    </button>
                                    <button class="bk-button vice-btn bk-default form-cancel">
                                        <span>取消</span>
                                    </button>
                                </div>
                            </from>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
