{% extends '_base.html' %}
{% load static %}

{% block csses %}
{% endblock %}
{% block content %}
    <div class="page-heading">
        <section class="panel filter">
            <header class="panel-heading">
                <i class="fa fa-search-plus"></i> 条件过滤
                <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-up"></a>
                     </span>
            </header>
            <div class="panel-body panel-content clearfix" id="panelContent" style="display: none;">
                <div class="condition-left pull-left">
                    <div class="clearfix condition-row" data-type="condition-row">
                        <div class="pull-left condition-item" style="width: 20%">
                            <p class="title">机房名称</p>
                            <input class="set-select2" title="label_cn">
                        </div>
                        <div class="filter-more" id="filterMore"><span>更多</span></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel main-list">
            <header class="panel-heading">
                <i class="fa fa-tasks "></i> 机房管理
                <span class="tools pull-right">
                     </span>
            </header>
            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button id="import" class="btn btn-primary active" href="#" data-toggle="modal"
                                    data-target="#myimportModal">
                                导入 <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="del" class="btn btn-danger ">
                                删除 <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">工具栏 <i
                                    class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="/cmdb/room/template/">模板下载</a></li>
                                <li><a href="/cmdb/room/export/">数据导出</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                        <tr>
                            <th class="text-center" style="width:3.5%;">
                                <input type="checkbox" id="check_all">
                            </th>
                            <th>机房名称</th>
                            <th>机房联系人</th>
                            <th>联系人号码</th>
                        </tr>
                        </thead>
                        {% for object in objects.object_list %}
                            <tbody>
                            <tr class="gradeX">
                                <td class="text-center">
                                    <input type="checkbox" name="checked" value="{{ object.id }}">
                                </td>
                                <td>{{ object.label_cn|default_if_none:"" }}</td>
                                <td>{{ object.room_contact|default_if_none:"" }}</td>
                                <td>{{ object.room_phone|default_if_none:"" }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    {% include 'page.html' %}
                </div>
            </div>
        </section>
    </div>
    </div>
    <div class="modal fade" id="myimportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Excel文件批量导入资产</h4>
                </div>
                <form role="form"
                      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                      enctype="multipart/form-data" class="main form-horizontal import-form ">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上传文件</label>
                            <div class="col-sm-6">
                                <input type="file" name="import_file" placeholder="上传excel文件" id="imp" required/>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="import-form">导入</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/cmdb/room.js' %}"></script>
{% endblock %}

