{% load static %}
<!--icheck-->
<link href="{% static 'js/iCheck/skins/minimal/minimal.css' %}" rel="stylesheet">
<link href="{% static 'js/iCheck/skins/square/square.css' %}" rel="stylesheet">
<link href="{% static 'js/iCheck/skins/square/red.css' %}" rel="stylesheet">
<link href="{% static 'js/iCheck/skins/square/blue.css' %}" rel="stylesheet">

<!--dashboard calendar-->
<link href="{% static 'css/clndr.css' %}" rel="stylesheet">

<!--Morris Chart CSS -->
<link rel="stylesheet" href="{% static 'js/morris-chart/morris.css' %}">

<!--common-->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <script src="{% static 'js/respond.min.js' %}"></script>
  <![endif]-->