<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="/index1"><img src="/static/images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="/index1"><img src="/static/images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">

        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="/static/images/photos/user-avatar.png" class="media-object">
                <div class="media-body">
                    <h4><a href="#">John Doe</a></h4>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav ">
            <li class="active"><a href="/index/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
            <li class="menu-list "><a href=""><i class="fa fa-laptop"></i> <span>资源管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/cmdb/room/list/"> 机房管理</a></li>
                    <li><a href="/cmdb/zone/list/"> 网络区域</a></li>
                    <li><a href="/cmdb/itsystem/list/"> 信息系统</a></li>
                    <li><a href="/cmdb/sysdevice/list/"> 设备管理</a></li>
                    <li><a href="/cmdb/process/list/"> 应用管理</a></li>
                    <li><a href="/cmdb/database/list/"> 数据库管理</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>网络管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 网络设备</a></li>
                    <li><a href="#"> 端口</a></li>
                    <li><a href="#"> VLAN</a></li>
                    <li><a href="#"> 子网</a></li>
                    <li><a href="#"> IP地址</a></li>
                    <li><a href="#"> VPN</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>作业平台</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 脚本管理</a></li>
                    <li><a href="#"> 任务调度</a></li>
                    <li><a href="#"> 模块执行</a></li>
                    <li><a href="#"> 操作记录</a></li>

                </ul>
            </li>

            <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>统计分析</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 资产维保报表</a></li>
                    <li><a href="#"> 资源使用统计报表</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>用户中心</span></a>
                <ul class="sub-menu-list">
                    <li><a href="profile.html"> 部门</a></li>
                    <li><a href="invoice.html"> 用户配置</a></li>
                    <li><a href="pricing_table.html"> 用户管理</a></li>
                </ul>
            </li>
            <li><a href="login.html"><i class="fa fa-sign-in"></i> <span>Login Page</span></a></li>

        </ul>
        <!--sidebar nav end-->

    </div>
</div>